body {
    background: linear-gradient(120deg, rgb(160, 159, 189), rgb(89, 80, 148));
}
header {
    display: flex;
    justify-content:space-between;
    background: linear-gradient(120deg, rgb(89, 80, 148), rgb(42, 35, 87));
    border: 3px solid rebeccapurple;
}
nav {
    margin: 30px;
    display: flex;
    flex-direction: row;
    
}
img {
    height: 300px;
    width: 500px;
    align-items: center;
}
p, li {
    font-style: 'Baloo Tammudu 2', cursive;
}


.home-header {
    text-align: center;
    font-family:'Baloo Tammudu 2', cursive;
    font-weight:900;
}
.home-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-nav-button {
    height: 100px;
    width: 300px;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.column {
    border: 3px solid pink;
    border-radius: 3%;
   
    font-size: 25px;
    
}

@media screen and (max-width: 1024) {
    .search-section {
        display: flex;
        flex-direction: column;
    }
}



/*
Below is the styling section for the about page
*/
.about-page {
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    
}

@media  screen and (max-width: 1024) {
    .about-page {
        display: flex;
        flex-direction: column;
    }
    
}

.about-velocity {
    margin: 30px;
    border: 5px solid orangered;
    border-radius: 5%;
    background-color:lightcoral;
    width: 40%;
}


.about-velocity > h3 {
    text-align: center;
    font-size: 35px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: crimson;
}
.about-velocity > p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    color: black;
}

.about-me {
    margin: 30px;
    border: 5px solid hotpink;
    border-radius: 5%;
    background-color: lightblue;
    width: 40%;
    
    
}
.about-me > p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    color: black;
}
.about-me > h3 {
    text-align: center;
    font-size: 35px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: hotpink;
}

/*
This is the end of styling for the about section
*/

button {
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 60%;
    border: 3px solid white;
    color:hotpink;
    width: 120px;;
    height: 120px;
    background-color:lightblue;
    font-size: 25px;
    margin: 10px;
    font-family:'Baloo Tammudu 2', cursive;;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    
}

button:hover {
    background: lightseagreen;
    color: crimson;

}

.home-nav-button:hover {
    background: darkmagenta;
    color: lightblue;

}


.nav-button {
    width: 230px;
    height: 120px;
    font-size: 25px;
}

input {
    width: 200px;
    height: 25px;
    margin: 20px;
    font-size: 20px;
    font-family:'Baloo Tammudu 2', cursive;
    padding: 8px;
    margin: 5px;
    border-radius: 2px;
    border-radius: 14%;
    background-color: turquoise;
    color: black;
    border: 2px solid rebeccapurple;

}
#crypto-asset-a {
    width: 125px;
}
p, label {
    margin: 20px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.metric, label {
    font-weight: bold;
}

.white-paper {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: white;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 30px;
    

}
.white-paper > p, li {
    font-family:'Times New Roman', Times, serif;
    
}
.white-paper-header {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

li {
    margin: 20px;
}

/*
STYLING THE HOME BUTTON
*/

.home-button {
    margin: 20px;
    background-color: darkslateblue;
    border: 3px solid crimson;
    border-radius: 14%;
    padding: 30px;
    color: palevioletred;
    font:bold;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    height: 150px;
    width: 350px;
}

.social-header {
    font-family: 'Baloo Tammudu 2', cursive;
    
    
}
.social-header > h1 {
    text-decoration: underline;
}

.new-asset, .new-asset-2 {
    font-family: 'Baloo Tammudu 2', cursive;
    font-weight: bold;

    

}

#financial-data-header, #social-data-header {
    text-align: center;
    font-family: 'Baloo Tammudu 2', cursive;
    font-weight: bold;
    
    font-size: 35px;

}

.white-paper > h2 {
    text-align: center;
}

#white-paper-container {
    display: flex;
    justify-content: center;
}


#github {
    height: 100px;
    width: 100px;
}
.about-footer {
    display: flex;
    justify-content: center;
}