body {
    background: linear-gradient(to right, rgb(150, 149, 179), rgb(35, 30, 67));
}
header {
    display: flex;
    justify-content:space-between;
}
nav {
    margin: 30px;
    
}
h1 {
    margin: 20px;
}
.about-velocity {
    font: Helvetica, sans-serif;
    font-size: 20px;
    border: 3px solid white;
    margin: 5px;

}
p {
    margin: 10px;
}