body {
    background: linear-gradient(to right, rgb(150, 149, 179), rgb(35, 30, 67));
}
header {
    display: flex;
    justify-content:space-between;
}
nav {
    margin: 30px;
    display: flex;
    flex-direction: row;
    
}
img {
    height: 300px;
    width: 500px;
    align-items: center;
}

h1 {
    margin: 20px;
}
.row {
    display: flex;
}
.column {
    flex: 50%;
    border: 3px solid white;
}
.about-velocity {
    font: 'Montserrat', sans-serif;
    font-size: 20px;
    border: 3px solid white;
    margin: 5px;

}
.about-me {
    font: 'Montserrat', sans-serif;
    font-size: 20px;
    border: 3px solid white;
    margin: 5px;

}

button {
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 14%;
    width: 100px;;
    height: 50px;
    background-color: lightblue;
    font-size: 20px;
    margin: 10px;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    
}
input {
    width: 300px;
    height: 25px;
    margin: 20px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    padding: 8px;
    margin: 5px;
    border-radius: 2px;
    border-radius: 14%;

}
#crypto-asset-a {
    width: 125px;
}
p, label {
    margin: 20px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
.metric, label {
    font-weight: bold;
}